// TODO: Change absolute unit to relative

.main-container {
    text-align: left;
    padding: 0px 50px;
    background-color: #dcdcdc; /*https://www.w3schools.com/colors/color_tryit.asp?color=Gainsboro*/
    .form-title {
        font-family: Mulish;
        font-style: normal;
        font-weight: bold;
        font-size: 32px;
        line-height: 40px;
        padding-left: 3%;
        padding-top: 1em;
    }
    .form-description {
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 24px;
        padding-left: 3%;
        padding-bottom: 0.5em;
    }

    /* DotStepper */
    .MuiMobileStepper-root {
        background-color: #dcdcdc;
    }
}