.main-container {
    text-align: left;
    margin: 0px 50px;
    .form-title {
        font-family: Mulish;
        font-style: normal;
        font-weight: bold;
        font-size: 32px;
        line-height: 40px;
    }
    .form-description {
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 15px;
        line-height: 24px;
    }
}