.header {
    .root {
        flex-grow: 1;
    }
    .app-bar {
        position: static;
        background: #F0F6FC;
        .header-bar{
            width:100%;
            max-width: 900px;
            margin:auto;
            padding: 0 40px;
            justify-content: space-between;
            .header-title-link {
                color:#01579b;
                text-decoration: none;
            }
        }
    }
}