.question-container {
    border-style: solid;
    .option-container {
        display: flex;
        .question-option {
            margin: auto;
        }
        .radio-question {
            margin: 0px;
        }
    }
}
