.no-highlight {

    border-width: medium;
    border-style: solid;
    border-width: 6px;
    border-color: transparent
}
.highlight {

    border-width: medium;
    border-style: solid;
    border-width: 6px;
    border-color: #00BFFF
}